@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #f8f9fa;
}

.text_white{
    color: #fff;
}

.section_1{
    width: 100%;
    height: 100vh;
    background-image: url('./images/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about_box{
    width: 60%;
    position: relative;
    top: 2.5rem;
    left: 20%;
}
.about_box p{
    font-size: 60px;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 2px #fff;
}
.about_box span{
    font-size: 1.4rem;
    text-shadow: none;
}

/* SECTION 2 */

.section_2{
    padding: 50px;
    background-color: black;
    text-align: center;
}
.section_2 p{
    font-size: 40px;
    word-spacing: 0.4rem;
}
.section_2 span{
    font-size: 80px;
}

/* SECTION-3 */

.section_3{
    width: 100%;
    padding: 5rem 0;
    display: flex;
    align-items: center;
}
.card_outer{
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    
}
.card{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: -1px 2px 4px 2px rgba(0, 0, 0, 0.12);
    
    transition: all 300ms;
}

.card img{
    width: 100%;
}
.card_para{
    padding: 20px;
    text-align: start;
}
.card_para p{
    font-size: 14px;
    margin-top: 1rem;
    line-height: 1.2rem;
}

/* SECTION-4 */

.section_4{
    width: 100%;
}
.section_4_inner{
    display: flex;
    width: 100%;
}
.left_box{
    background-color: #fb8b24;
    width: 50%;
    padding: 4rem 0px;
}
.right_box{
    width: 50%;
    background-color: #00a896;
    padding: 4rem 0px;
}
.left_box div{
    width: 60%;
    margin: auto;
    color: #fff;
}
.right_box div{
    width: 60%;
    margin: auto;
    color: #fff;
}
.right_box div p{
    margin: 1rem 0;
    font-size: 1rem;
}
.left_box div p{
    margin: 1rem 0;
    font-size: 1rem;
}



/* FOOTER */
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
footer p{
    padding: 35px 0px;
    color: white;
    font-size: 1.2rem;
}

/*********** RESPONISVE PAGE *********/

/* Desktop and ipad responsive  */

@media (max-width: 1236px){
    .about_box{
        width: 70%;
        left: 15%;
    }
    .about_box p{
        font-size: 55px;
    }
}
@media (max-width: 1000px){
    .about_box{
        width: 80%;
        left: 10%;
    }
    .card{
        width: 250px;
    }
    .text_large{
        font-size: 45px;
    }
}
@media (max-width: 860px){
    .section_1{
        height: 70vh;
    }
    .about_box{
        width: 90%;
        left: 5%;
    }
    .about_box p{
        font-size: 35px;
    }
    .card{
        width: 350px;
    }
    .card_para h2{
        font-size: 18px;
    }
    .card_para p{
        font-size: 0.8rem;
    }
    .text_large{
        font-size: 30px;
    }
}

/* Mobile responsive */

@media (max-width: 676px){
    .section_2 p{
        font-size: 30px;
        word-spacing: 0.4rem;
    }
    .section_2 span{
        font-size: 65px;
    }
    .card_outer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 300px;
    }
    .section_4_inner{
        flex-direction: column;
    }
    .left_box{
        background-color: #fb8b24;
        width: 100%;
        padding: 2rem 0px;
        text-align: start;
        
    }
    .right_box{
        width: 100%;
        background-color: #00a896;
        padding: 4rem 0px;
    }
    .right_box div p{
        margin: 1rem 0;
        font-size: 0.8rem;
    }
    .left_box div p{
        margin: 1rem 0;
        font-size: 0.8rem;
    }
}
@media (max-width: 549px){

    .about_box{
        width: 90%;
        left: 5%;
    }
    .about_box p{
        font-size: 20px;
    }
    .about_box span{
        font-size: 1rem;
        text-shadow: none;
    }
    .section_2 p{
        font-size: 20px;
        word-spacing: 0.4rem;
    }
    .section_2 span{
        font-size: 45px;
    }
}

@media (max-width: 413px){
    .about_box{
        width: 94%;
        left: 5%;
        top: 120px;
    }
    .about_box p{
        font-size: 18px;
    }
    .about_box span{
        font-size: 0.87rem;
        text-shadow: none;
    }
    .section_2 p{
        font-size: 14px;
        word-spacing: 0.2rem;
    }
    .section_2 span{
        font-size: 24px;
    }
    footer p{
        font-size: 0.8rem;
    }
    .section_1{
        background-size: cover;
    }
}
@media (min-width: 500px){
    .card:hover{
        transform: translateY(-2px);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}